[Unit]
Requires=network.target
After=network.target
Requires=dev-ttyUSB0.device
After=dev-ttyUSB0.device

Description=Smartmeter API poster

[Service]
Environment=PYTHONUNBUFFERED=1
#StandardOutput=journal
ExecStart=/home/%i/smartmeter/power.py
User=%i
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
